@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --sec-color: #222d52;
    --bg-color: #f9f6ef;
    --width: min(85vw, 1100px);
    --set-shadow: 4px 4px 5px #3332;
    --gap: 60px;
}

html {
    scroll-behavior: smooth;
}

* {
    transition: color 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--sec-color);
    border-radius: 100vmax;
}

body, ::-webkit-scrollbar-track {
	background-color: var(--bg-color);
}

body {
    font-family: var(--font-mono);
    color: var(--sec-color);
}

img {
    object-fit: cover;
    border-radius: inherit;
}

nav svg {
    pointer-events: none;
}

article > section {
    scroll-margin-top: 100px;
}

/* animations */
.toScrollAnimate {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.55;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 550px) {
    ::-webkit-scrollbar {
        width: 0;
    }
}